<p><img src="/assets/img/news/proj-1/img1.jpg" alt="Patreon" /></p>

<p>Hey. Sai che da ora puoi supportarmi su Patreon?
“Come?” Semplice. Collegati a https://www.patreon.com/iGiandrea o clicca il collegamento qui sotto.</p>

<p><img src="/assets/img/news/proj-1/img2.jpg" alt="Patreon" /></p>

<p>Clicca sul pulsante “BECOME A PATRON”</p>

<p><img src="/assets/img/news/proj-1/img3.jpg" alt="Patreon" /></p>

<p>Scegli un Tier in base a te e clicca “CONTINUE”.
Registrati o accedi(Se non l’già fatto prima).</p>

<p><img src="/assets/img/news/proj-1/img4.jpg" alt="Patreon" /></p>

<p>Paga e ottieni la ricompensa associata al tier scelto.
Se deciderai di farlo…beh, grazie :3</p>
